<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to U-Note</h1>

  <h2>
    Welcome to our site!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>